<h1>Listing impacts</h1>

<table class="table">
  <tr>
    <th>Name</th>
    
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @impacts.each do |impact| %>
  <tr>
    <td><%= impact.name %></td>
  
    <td><%= link_to 'Show', impact %></td>
    <td><%= link_to 'Edit', edit_impact_path(impact), class: "btn btn-small" %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Impact', new_impact_path %>
