// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


	  #moz-map { 
	  	  height: 80%;
		  width: 65%; 
		  margin-left: auto;
          margin-right: auto;
		  border-right-width: 2px;
		  border-right-color: #ffffff;
		  border-right-style: solid;
		  border-left-width: 2px;
		  border-left-color: #ffffff;
		  border-left-style: solid;
	  }
	  
	  .pop_up_box_text {
	 	  font-family: Georgia, 'Times New Roman', Times, serif; 
		  font-size: 16px; 
		  line-height: 22px; 
		  color: #ffffff; 
		  display: inline; 
	  }


	  #moz-map {
		width: 700px;
		height: 500px;
	}